@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "Usuarios";
}

<h1>Lista de Usuarios</h1>
<h4>Usuarios registrados.</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                        @Html.DisplayFor(model => item.UserName)
                </td>
                <td>
                        @Html.DisplayFor(model => item.Email)
                </td>
            </tr>
        }
    </tbody>
</table>